MediaEngine_Windows/MediaEngine_Windows.opensdf
MediaEngine_Windows/MediaEngine_Windows.sdf
MediaEngine_Windows/MediaEngine_Windows.v12.suo
MediaEngine_Windows/MediaEngine_Windows/ClassDiagram.cd
MediaEngine_Windows/MediaEngine_Windows/Debug/
MediaEngine_Windows/MediaEngine_Windows/MediaEngine_Windows.vcxproj.user
MediaEngine_WindowsPhone/MediaEngine_WindowsPhone.sdf
MediaEngine_WindowsPhone/MediaEngine_WindowsPhone.v12.suo
MediaEngine_WindowsPhone/MediaEngine_WindowsPhone/ARM/
OthersLib/JNI/myBuild.bat
OthersLib/WinOpenH264/WelsDecPlus.lib
OthersLib/WinOpenH264/WelsEncPlus.lib
OthersLib/WinOpenH264/WelsVP.lib
OthersLib/WinOpenH264/welsdcore.lib
OthersLib/WinOpenH264/welsecore.lib
OthersLib/libs/
OthersLib/obj/convert-dependencies.sh
OthersLib/obj/local/armeabi-v7a/libRingIDSDK.so
OthersLib/obj/local/armeabi-v7a/libring_codec.a
OthersLib/obj/local/armeabi-v7a/libvideoEngineController.a
OthersLib/obj/local/armeabi-v7a/objs/
OthersLib/obj/local/armeabi/
OthersLib/obj/local/x86/
ThirdPartyLibrary/WinOpenH264/WelsDecPlus.lib
ThirdPartyLibrary/WinOpenH264/WelsEncPlus.lib
ThirdPartyLibrary/WinOpenH264/WelsVP.lib
ThirdPartyLibrary/WinOpenH264/welsdcore.lib
ThirdPartyLibrary/WinOpenH264/welsecore.lib
VideoEngineController/VideoEngineController.vcxproj.user
VideoEngineUtilities/Debug/ColorConverter.obj
VideoEngineUtilities/Debug/LockHandler.obj
VideoEngineUtilities/Debug/VideoEngineUtilities.log
VideoEngineUtilities/Debug/vc120.pdb
VideoEngineUtilities/Release/ColorConverter.obj
VideoEngineUtilities/Release/LockHandler.obj
VideoEngineUtilities/Release/VideoEngineUtilities.log
VideoEngineUtilities/Release/vc120.pdb
VideoEngineUtilities/VideoEngineUtilities.vcxproj.user
VideoEngineUtilities/x64/Debug/ColorConverter.obj
VideoEngineUtilities/x64/Debug/LockHandler.obj
VideoEngineUtilities/x64/Debug/VideoEngineUtilities.log
VideoEngineUtilities/x64/Debug/vc120.pdb
include/g729/G729_Wndows.v12.suo
include/g729/G729_Wndows.vcxproj.user
*.o
*.d
*.tlog
*.sdf
*.idb
*.opensdf
*.obj
